In [ ]:
# factorail of num

In [3]:
fact=int(input("enter a number for factorial"))
fact_num=1

for i in range(1,fact+1):
    fact_num=fact_num * i
print(f"factorial of a number is : {fact_num}")

enter a number for factorial3
factorial of a number is : 6

In [ ]:
# prime or not

In [5]:
# Program to check if a number is prime or not

num = int(input("enter a number to check prime or not"))

flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

    # check if flag is True
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

enter a number to check prime or not4
4 is not a prime number

In [ ]:
# fibonacci num

In [9]:
fab=int(input("enter a number for fabonnic : "))
a=0
b=1
print(a,end=' ')
print(b,end=' ')
for i in range(fab):
    
    c=a+b
    print(c,end =' ')
    a=b
    b=c

enter a number for fabonnic5
0 1 1 2 3 5 8

In [ ]:
#sum of first n natural num

In [12]:
nat_num=int(input("enter a no to get natural number: "))

sum=0
for i in range(1,nat_num+1):
    sum=sum+i
print(f"find sum of first natural num : {sum}")

enter a no to get natural number: 6
find sum of first natural num : 21

In [ ]:
# find the largest num

In [24]:
l=[15,5,32,6,12,9,90,54,343,2]

max=l[0]
#print(max)

for i in l:
    
 
    if i > max:
        max=i
print('largest no',max)

largest no 343

In [ ]:
#pyhton program for find remainder of array multiplication divided by n

In [27]:
l=[100,10,5,25,35,14]
a=int(input("enter a num"))
num=1
for i in l:
    num=num*i
print(num)

remainder=num%a

print('remainder is ',remainder)

enter a num5
61250000
remainder is  0

In [ ]:
# sum of digit of a num

In [33]:
num=input("enter a num to sum")
#print(num)
sum=0
for i in num :
    #print(i)
    sum=sum + int(i)
print(sum)

enter a num to sum633423
21

In [1]:
#count occurance of a element in the list

In [8]:
a=[11,2,3,1,5,3,7,3,7,3,7,3,1,4,6,7,9,6,11]
count=0
for i in a:
    count=0
    for j in a:
        if j==i:
            count=count+1
    print(f"{i} occur {count} times")

11 occur 2 times
2 occur 1 times
3 occur 5 times
1 occur 2 times
5 occur 1 times
3 occur 5 times
7 occur 4 times
3 occur 5 times
7 occur 4 times
3 occur 5 times
7 occur 4 times
3 occur 5 times
1 occur 2 times
4 occur 1 times
6 occur 2 times
7 occur 4 times
9 occur 1 times
6 occur 2 times
11 occur 2 times

In [11]:
a=[11,2,3,1,5,3,7,3,7,3,7,3,1,4,6,7,9,6,11]
x=11
count=0
for i in a:
    if i==x:
        count=count+1
print(f"{x} occur {count} times")

11 occur 2 times

In [ ]:
# reverse a list

In [14]:
a=[11,2,3,1,5,3,7,3,7,3,7,3,1,4,6,7,9,6]

In [15]:
a[::-1]

[6, 9, 7, 6, 4, 1, 3, 7, 3, 7, 3, 7, 3, 5, 1, 3, 2, 11]

In [16]:
# program

In [19]:
a=[11,2,3,1,5,3,7,3,7,3,7,3,1,4,6,7,9,6]
b=[]
for i in a:
    for j in a:
        print()

TypeError: 'int' object is not subscriptable

# day 1

In [ ]:
# python program to swap two element in a list
# python program reversing a list
# count occurance of an element in a list
# python program to print duplicates from a list of integers
# python program to check if a string is a palindrom or not
# python program to check if a substring present in a given string or not

# python program to swap two element in a list

In [19]:
l=[13,12,43,21,45,78]
a=l[2]
l[2]=l[1]

l[1]=a

print(l)

[13, 43, 12, 21, 45, 78]

In [13]:

# Python3 program to swap elements
# at given positions
 
# Swap function
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list
 
# Driver function
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3
 
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

# ques 2 -  python program reversing a list

In [62]:
l=[13,12,43,21,45,78]
l[::-1]

[78, 45, 21, 43, 12, 13]

In [61]:
a=0
b=-1
s=[13,12,43,21,45,78]
print(f"original list : {s}")
for i in range(len(s)):
    if i==round((len(s))/2,0):
        break
    else:
        temp=s[a]
        s[a]=s[b]
        s[b]=temp
        a=a+1
        b=b-1
print(f"reverse list : {s}")

original list : [13, 12, 43, 21, 45, 78]
reverse list : [78, 45, 21, 43, 12, 13]

In [42]:

# Reversing a list using two-pointer approach
def reverse_list(arr):
    left = 0
    right = len(arr)-1
    while (left < right):
        # Swap
        temp = arr[left]
        arr[left] = arr[right]
        arr[right] = temp
        left += 1
        right -= 1
 
    return arr
 
arr = [1, 2, 3, 4, 5, 6, 7]
print(reverse_list(arr))

[7, 6, 5, 4, 3, 2, 1]

# ques 3 - count occurance of an element in a list

In [65]:
arr = [1, 2,2,2, 3, 4, 5, 6,6,4,2,4,3,6,3,7,4 ,7]
arr.count(2)

4

In [79]:
p=[]
l = [1, 2,2,2, 3, 4, 5, 6,6,4,2,4,3,6,3,7,4 ,8,8,8,9,9,9,7]
for i in range(len(l)):
    count=0
    if l[i]  in p:
        continue
    for j in range(len(l)):
        if l[i]==l[j]:
            count=count+1
    p.append(l[i])
       
            
    print(f"{l[i]} occur {count} times")
print(p)

1 occur 1 times
2 occur 4 times
3 occur 3 times
4 occur 4 times
5 occur 1 times
6 occur 3 times
7 occur 2 times
8 occur 3 times
9 occur 3 times
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# quest 4 - python program to print duplicates from a list of integers

In [105]:
arr = [1, 5,2,2, 3, 4, 8, 6,6,4,2,4,3,6,3,7,4 ,7]
arr.sort()
print(f"original list is {arr}")
b=1
l=[]
for i in range(len(arr)-1):

    if arr[i]==arr[b]:
        if arr[i] not in l:
            l.append(arr[i])
        b=b+1
    else:
        b=b+1
print(f"duplicate number are {l}")

original list is [1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 6, 6, 6, 7, 7, 8]
duplicate number are [2, 3, 4, 6, 7]

In [101]:
# Define the list of integers
arr = [1, 5, 2, 2, 3, 4, 8, 6, 6, 4, 2, 4, 3, 6, 3, 7, 4, 7]

# Define an empty list to store the duplicates
duplicates = []

# Iterate through the list
for i in range(len(arr)):
    # Check if the current element appears again in the list
    if arr[i] in arr[i+1:]:
        # If it does, append it to the duplicates list
        if arr[i] not in duplicates:
            duplicates.append(arr[i])

# Print the duplicates list
print("Duplicates:", duplicates)

Duplicates: [2, 3, 4, 6, 7]

#  python program to check if a string is a palindrom or not

In [109]:
def palindrom(a):
    if a == a[::-1]:
        print(f"{a} this string is palindrom string")
    else:
        print(f"{a} this string is not a palindrom string")
        
palindrom('axa')

axa this string is palindrom

# python program to check if a substring present in a given string or not

In [117]:

a = ['Geeks-13', 'for-56', 'Geeks-78', 'xyz-46']
for i in a:
    if i.__contains__("Geeks"):
        print(f"Yes! {i} is containing.")

Yes! Geeks-13 is containing.
Yes! Geeks-78 is containing.

In [114]:


# Python code
# To check if a substring is present in a given string or not
 
# input strings str1 and substr
string = "geeks for geeks"  # or string=input() -> taking input from the user
substring = "geeks"  # or substring=input()
 
# splitting words in a given string
s = string.split()
 
# checking condition
# if substring is present in the given string then it gives output as yes
if substring in s:
    print("yes")
else:
    print("no")

yes

##### python program to find largest element in an array

##### pythonn program to print odd number in a list

##### python program remove the i'th character from string in  python

##### python program maximum frquency charchter in a string

##### python program to print even length words in a string

### python program to find largest element in an array

In [ ]:
l=[15,5,32,6,12,9,90,54,343,2]

max=l[0]
#print(max)

for i in l:
    
 
    if i > max:
        max=i
print('largest no',max)

In [1]:
l=[15,5,32,6,12,9,90,54,343,2]
max=l[0]

for i in l:
    if i> max:
        max = i
print('largest num is ',max)

largest num is  343

### pythonn program to print odd number in a list

In [10]:
def odd(list_num):
    l=[]
    for i in list_num:
        #if i in l:
            #continue
        if i%2 != 0:
            l.append(i)
    print(l)
list_num=[2,3,4,2,6,5,7,8,9,13,17,7]

In [11]:
odd(list_num)

[3, 5, 7, 9, 13, 17, 7]

In [2]:
Lambda : print("hello world")

hello world

In [11]:
a= lambda x: x+5

In [12]:
print(a(10))

15

In [13]:
sum = lambda x, y: x + y

In [14]:
sum(10,5)

15

In [15]:
# Program to sort a list of dictionaries by a specific key

list_of_dicts = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Charlie', 'age': 20},
]

# Use a lambda function to sort the list of dictionaries by age
sorted_list = sorted(list_of_dicts, key=lambda x: x['age'])

# Print the sorted list
print(sorted_list)

[{'name': 'Charlie', 'age': 20}, {'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [18]:
# Code to filter odd numbers from a given list  
list_ = [34, 12, 64, 55, 75, 13, 63]  
  
odd_list = list(filter( lambda num: (num % 2 != 0) , list_))  
  
print(odd_list)

[55, 75, 13, 63]

In [34]:
list_ = [34, 12, 64, 55, 75, 13, 63]  
odd=list(filter(lambda x :(x%2 != 0),list_))

In [35]:
print(odd)

[55, 75, 13, 63]

In [38]:
y=lambda add:add+10

In [39]:
y(6)

16

In [40]:
list1 = [2, 3, 4, 5]

list(map(lambda x: pow(x, 2), list1))

[4, 9, 16, 25]